---
layout: default
title: Michael Stapelbergs Debian Blog
---

{% for post in site.posts limit: 10 %}
  <h2>{{ post.date | date:"%Y-%m-%d" }}: {{ post.title }}</h2>
  <span class="perma"><a href="{{ site.url }}{{ post.url }}">perma</a></span>
  {{ post.content }}
{% endfor %}

{% if site.posts.size > 10 %}
  <hr />
  <h1>Older posts</h1>
  <ul>
  {% for post in site.posts offset: 10 %}
    <li>{{ post.date | date:"%Y-%m-%d" }} » <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
{% endif %}
